<!DOCTYPE html>
<html>
  <head>
    <title>JSON-Patch Apply / Generate Diff App</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>

  <style type="text/css" media="all">
  <% include assets/stylesheets/screen.css %>
  </style>

  <section id="body" class="enyo-fit enyo-clip">
    <h1><a href="/">JSON-Patch</a><br /> Apply</h1>
    <section class="enyo-panels enyo-arranger enyo-arranger-fit enyo-panels-fit-narrow" id="main">
      <div style="transform: translateZ(0px); opacity: 1;" id="form-fields">
        <% if (generated) { %>
          <h1 id="valid">SUCCESS: JSON-Patch generated from your two JSON objects</h1>
        <% } %>
        <% if (!generated && !example) { %>
          <h1 id="error">ERROR: JSON-Patch generation failed</h1>
        <% } %>
        <form action="/apply" method="post">
          <div class="label" id="form-fields_jsonLabel">Original JSON Object <% if (example) { %>- <span id="warn">Replace example with your JSON object</span><% } %></div>
          <textarea class="enyo-input input" id="form-fields_json" name="json" placeholder="JSON" rows="12"><%= json %></textarea>
          <div class="label" id="form-fields_public_keyLabel">JSON-Patch
            <% if (example) { %>- <span id="warn">Replace example with your JSON-Patch</span><% } %>
            <% if (generated) { %>- <span id="valid">Generated JSON-Patch</span><% } %>
          </div>
          <textarea class="enyo-input input" id="form-fields_jsonPatch" name="jsonPatch" placeholder="JSON-Patch" rows="12"><%= jsonPatch %></textarea>
          <input class="enyo-tool-decorator onyx-button enyo-unselectable button" name="submit" id="form-fields_applyButton" type="submit" value="Apply JSON-Patch"/>
        </form>
      </div>
    </section>
  </section>
  </body>
</html>
