<!DOCTYPE html>
<html>
  <head>
    <title>JSON-Patch Apply / Generate Diff App</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>

  <style type="text/css" media="all">
  <% include assets/stylesheets/screen.css %>
  </style>

  <section id="body" class="enyo-fit enyo-clip">
    <h1>JSON-Patch Apply / Generate Diff App</h1>
    <section class="enyo-panels enyo-arranger enyo-arranger-fit enyo-panels-fit-narrow" id="main">
      <p>
        This is a simple app that allows you to apply or generate a JSON-Patch diff from/to a JSON object.
        <ul>
          <li><a href="/apply">Apply a JSON-Patch</a></li>
          <li><a href="/diff">Generate a JSON-Patch Diff</a></li>
        </ul>
      </p>
    </section>
  </section>
  </body>
</html>
